<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <div class="posts">
        </div>
        <form class="form form-create">
            <h2 class="form-title-create">Create Post</h2>
            <h2 class="form-title-update">Update Post</h2>
            <div class="form-control">
                <input type="hidden" name="_id" />
            </div>
          <div class="form-control">
            <label for="">Title</label>
            <input type="text" name="title" />
          </div>
          <div class="form-control">
            <label for="">Description</label>
            <textarea name="description" ></textarea>
          </div>
          <div class="form-control">
            <button class="btmSave btnSave-create" type="submit">Create</button>
            <button class="btmSave btnSave-update" type="submit">Update</button>
          </div>
        </form>
    </div>
    <script type="text/template" class="tplPosts">
        {% posts.forEach(function(post) { %}
            <div class="post" data-id="{{ post._id }}">
                {{ _.template(template)(post) }}
            </div>
        {% }); %}
    </script>
    <script type="text/template" class="tplPost">
        <h4 class="post-title" data-id="{{ _id }}">{{ title }}</h4>
        <img class="post-image" src="/images/logo.png" alt="{{ title }}" />
        <p class="post-description">{{ description }}</p>
        <a class="btn-update" data-id="{{ _id }}">Update</a>
        <a class="btn-delete" data-id="{{ _id }}">Delete</a>
    </script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>