<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="wrapper" id="app">
            <div class="posts" v-show="posts.length">
                <post v-for="post in posts"
                    :id="post._id"
                    :title="post.title"
                    :description="post.description"
                    :handle-update="handleUpdate"
                    :handle-delete="handleDelete"
                ></post>
            </div>
            <form class="form" :class="formClass" @submit.prevent="handleSubmit">
                <h2 class="form-title-create">Create Post</h2>
                <h2 class="form-title-update">Update Post</h2>
                <div class="form-control">
                    <input type="hidden" name="_id" v-model="modelPost._id"/>
                </div>
                <div class="form-control">
                    <label for="">Title</label>
                    <input type="text" name="title" v-model="modelPost.title" />
                </div>
                <div class="form-control">
                    <label for="">Description</label>
                    <textarea name="description" v-model="modelPost.description"></textarea>
                </div>
                <div class="form-control">
                    <button class="btmSave btnSave-create" type="submit">Create</button>
                    <button class="btmSave btnSave-update" type="submit">Update</button>
                </div>
            </form>
        </div>

        <script src="/js/vue.js"></script>
        <script src="/js/post.js"></script>
        <script class="tplPost" type="text/template">
            <div class="post">
                <h4 class="post-title" :data-id="id">{{ title }}</h4>
                <img class="post-image" src="/images/logo.png" :alt="title" />
                <p class="post-description">{{ description }}</p>
                <a class="btn-update" :data-id="id" v-on:click="handleUpdate(id, $event)">Update</a>
                <a class="btn-delete" :data-id="id" @click="handleDelete(id, $event)">Delete</a>
            </div>            
        </script>
        <script>
            Vue.component('post', {
                template: document.querySelector('.tplPost').innerHTML,
                props: ['id', 'title', 'description', 'handleUpdate', 'handleDelete']
            });

            new Vue({
                el: '#app',
                data: {
                    posts: [],
                    modelPost: {
                        _id: '',
                        title: '',
                        description: ''
                    },
                    status: 'create'
                },
                methods: {
                    handleUpdate: function (postId, event) {
                        var self = this;

                        event.target.classList.add('disabled');

                        self.status = 'update';
                        post.get(postId, function (json) {
                            Object.keys(self.modelPost).forEach(function (key) {
                                if (json[key]) {
                                    self.modelPost[key] = json[key];
                                }
                            });
                        });
                    },
                    handleDelete: function (postId, event) {
                        var self = this;

                        post.remove(postId, function (json) {
                            self.posts = self.posts.filter(function (item) {
                                return item._id !== postId;
                            });
                        });
                    },
                    handleSubmit: function (event) {
                        var self = this;

                        if (self.status === 'create') {
                            delete self.modelPost._id;
                            post.save(self.modelPost, function (json) {
                                self.posts.push(json);
                            });
                        } else {
                            post.update(self.modelPost._id, self.modelPost, function (json) {
                                self.posts.forEach(function (item, idx) {
                                    if (item._id === json._id) {
                                        Object.keys(item).forEach(function (key) {
                                            if (json[key]) {
                                                item[key] = json[key];
                                            }
                                        });
                                    }
                                });
                            });
                        }

                        self.modelPost = {
                            _id: '',
                            title: '',
                            description: ''
                        };

                        self.status = 'create';
                    }
                },
                computed: {
                    formClass: function () {
                        return this.status === 'create' ? 'form-create' : 'form-update';
                    }
                },
                created: function () {
                    var self = this;

                    post.getAll(function (json) {
                        self.posts = json;
                    });
                }
            });
        </script>
    </body>
</html>